<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pfizer HelpBot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous">
    </script>
    <script src="static/js/jquery.timeago.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/chatbot.css">
</head>

<body>
<meta charset="UTF-8">
<nav class="navbar-left" style="background-color: #007DC6 !important;">
    <a class="navbar-brand" padding-top=0 padding-bottom=0 href="#">
        <img src="static/images/pfizer_full.jpg" height="30" alt="">
    </a>

</nav>
<br><br>

<div class="container">
    <div id="chat" class="jumbotron" style="height:600px;background-color:white">
        <div id="conversations" style="overflow-y: scroll; height:500px;overflow:auto; ">
            <div class="arrow"></div>
            <ul class="ChatLog">
            </ul>
        </div>
    </div>

    <div id="compose-message">
        <label for="new-input-message">{{gettext('Message')}}</label>
        <div class="input-group mb-12">
            <input type="text" id="new-input-message" class="form-control"
                   aria-describedby="new-input-message-help-block" disabled="false">
            <div class="input-group-append">
                <button onclick="toggleRecording(this);" class="btn btn-outline-secondary" type="button"><i
                        class="fas fa-microphone"></i></button>
            </div>
        </div>
        <small id="new-input-message-help-block" class="form-text text-muted">
            {{gettext('Hit enter to send message')}}
        </small>
    </div>

</div>
</div>
<script src="static/js/main.js"></script>
</body>
</html>
