<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bot Server</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <link rel="stylesheet" href="static/css/chatbot.css">
</head>

<body>
<meta charset="UTF-8">
<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Deloitte Bot Server</a>
    </div>
</nav>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Create a new bot</h2><br><br>


            <form class="">
                <div class="form-group">
                    <label>Bot Name</label>
                    <input type="email" class="form-control" placeholder="Enter a unique name"></div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="3" id="description"
                              placeholder="Enter a short description for the bot"></textarea></div>
                <button type="submit" class="btn btn-primary pull-right">Create</button>
            </form>
        </div>


    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br><br>
            <h2>Upload a new configuration file</h2><br><br>
            <form action="/api/bot/create" method="post" enctype="multipart/form-data">
                <input type="file" class="btn btn-default" name="file" id="file">
                <input type="submit" class="btn btn-primary" value="Upload" name="submit">
            </form>
        </div>
        {{notification}}
    </div>
</div>


</body>
</html>
