html, body{
 height:100%;
    width:100%;
}
body {
  padding-top: 0px;
  padding-bottom: 0px;
}
.nav-element{
    background-color: #006cb6 !important;
    height: 13%;

    width:100%;
}
.flex-parent{
     display:-webkit-box;
     display:-ms-flexbox;
     display:flex;
}
.flex-child{
    -webkit-box-flex:1;
         -ms-flex:1 100%;
             flex:1 100%;
}
.flex-vertical{
    -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
}
.flex-none{
     -webkit-box-flex:0;
        -ms-flex:none;
            flex:none;
}
.bot-parent{
    background-color:#c4d8e1;
    background-image: url(../images/Conmigo_Background.png);
}
.bot-left-pane{
    width:35%;
    height: 100%;
    display:table;
}
.bot-right-pane{
    padding: 2% 3% 2% 0;
}
#chat{
    height: 80%;
}
.chat-head{
    height: 10%;
    background-color: rgba(0,108,182,0.6);
    border-radius: 100px 100px 0px 0px;
    display:table;
    width: 100%;
    color: #fff;
    font-weight: 600;
}
.align-middle{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
.chat-window{
    height: 90%;
    background-color: rgba(255, 255, 255,0.6);
}
#compose-message label{
    margin-top: 5px;
    margin-bottom: 0px;
    color:black;
    font-weight: 500;
}
#conversations{
    overflow-y: scroll;
    overflow:auto;
    height: 100%;
    padding: 2%;
}
ul.navbar-brand {
    display: inline-block;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



ul.ChatLog {
  list-style: none;
}

.ChatLog {
  max-width: 100%;
  margin: 0 auto;
}
.ChatLog .ChatLog__entry {
  margin: .5em;
}

.ChatLog__entry {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}

.ChatLog__entry.ChatLog__entry_mine {
  flex-direction: row-reverse;
}

.ChatLog__avatar {
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 1;
  height: 50px;
  width: 50px;

}

.ChatLog__entry.ChatLog__entry_mine
.ChatLog__avatar {
  display: none;
}

.ChatLog__entry .ChatLog__message {
  position: relative;
  margin: 0 12px;
}

.ChatLog__entry .ChatLog__message::before {
  position: absolute;
  right: auto;
  bottom: .6em;
  left: -12px;
  height: 0;
  content: '';
  border: 6px solid transparent;
  border-right-color: #ddd;
  z-index: 2;
  display:none;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message::before {
  right: -12px;
  bottom: .6em;
  left: auto;
  border: 6px solid transparent;
  border-left-color: #87d5f5;
  display:none;
}

.ChatLog__message {
  background-color: #d9d9d9;
  padding: .5em;
  border-radius: 7px;
  font-weight: 500;
  font-size:14px !important;
  max-width: 70%;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
  /*border-top: 1px solid #07f;
  border-bottom: 1px solid #07f;*/
  background-color:#87d5f5; /* #08f;*/
  color: black;
}

.ChatLog__message .ChatLog__timestamp {
    font-size:10px;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
.bot_image_landscape{
    height:65% !important;
    width: 90% !important;
}
.nav_landscape{
    height:10% !important;
}
.bot-parent_landscape{
     height:90% !important;
}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
 .bot_image_portrait{
    height:45% !important;
    width: 90% !important;
 }
 .nav_portrait{
    height:8% !important;
 }
 .bot-parent_portrait{
     height:92% !important;
 }
 }